* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary-fonts-color);
  text-decoration: none;
  cursor: pointer;
}

:root {
  --bg-color-middle: #ec4c8a;
  --bg-color-light: #fb5092;
  --bg-color-dark: #cf4277;
  --bg-color-between: #bf3e70;
  --primary-fonts-color: #fcf6fa;
  --body-font: 'poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --padding-basic: 1em;
}

body {
  margin: 0;
  font-family: var(--body-font);
  color: var(--primary-fonts-color);
  min-width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-basic);
  background-color: var(--bg-color-middle);
}

header h1 {
  font-size: var(--h1-font-size);
}

header .right {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.home,
.details {
  min-height: 750px;
  background-color: var(--bg-color-dark);
}

.home .header-wrapper {
  display: flex;
  align-items: center;
  min-height: 250px;
}

.home .header-wrapper .header {
  display: flex;
  height: 200px;
  width: 80%;
  margin: auto;
  background-image: url('./assets/covid-1.jpg');
  background-size: cover;
  filter: blur(3px);
  border-radius: 1em;
}

.home .header-wrapper .date-title {
  position: absolute;
  right: 160px;
  top: 100px;
  z-index: 2;
}

.home .header-wrapper .cases-title {
  position: absolute;
  right: 80px;
  top: 170px;
  z-index: 2;
}

.home .all-stats {
  display: flex;
  flex-direction: column;
}

.home .all-stats .p,
.details .stats-by-country .p {
  background-color: var(--bg-color-between);
  padding: 0.1em 1em;
  font-size: var(--small-font-size);
}

.home .all-stats .stats {
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-color-middle);
  padding: var(--padding-basic);
}

.home .all-stats .stats .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .countries {
  display: flex;
  flex-wrap: wrap;
}

.home .countries .country {
  flex: 1;
  padding: var(--padding-basic);
  background-color: var(--bg-color-between);
  border: 1px solid var(--bg-color-dark);
  text-align: center;
}

.home .countries .country:hover {
  background-color: var(--bg-color-light);
}

.home .countries .country h2:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.home .countries .country .open-details {
  position: relative;
  margin-left: 10em;
  cursor: pointer;
}

.home .countries .country .open-details:hover {
  transform: scale(1.2);
}

.details .header-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
  min-height: 250px;
  background-color: var(--bg-color-between);
}

.details .header-details img {
  width: 200px;
  height: 150px;
  border-radius: 1em;
}

.details .header-details .country-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border-radius: 1em;
  background-color: var(--bg-color-dark);
}

.details .header-details .country-cases span {
  margin-left: 0.5em;
}

.details .stats-by-country .stats {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-middle);
}

.details .stats-by-country .stats .stat {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
}

.details .stats-by-country .stats .odds {
  background-color: var(--bg-color-dark);
}

footer {
  display: flex;
  justify-content: center;
  padding: var(--padding-basic);
  background-color: var(--bg-color-middle);
}

@media only screen and (max-width: 416px) {
  .details .header-details img {
    filter: blur(3px);
  }

  .details .header-details .country-cases {
    position: absolute;
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) and (max-width: 816px) {
  .details .header-details img {
    filter: blur(3px);
  }

  .details .header-details .country-cases {
    position: absolute;
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  /* For larger screens: */
  header {
    padding: 1.5em;
  }

  header h1,
  .voiceIcon,
  .settings {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
  }

  header h1:hover {
    cursor: pointer;
    transform: scale(1.2) translate(40px);
  }

  .navigateBack:hover,
  .voiceIcon:hover {
    cursor: pointer;
    transform: scale(1.5);
  }

  .settings:hover {
    cursor: pointer;
    transform: scale(1.5) rotate(360deg);
  }

  .home,
  .details {
    min-height: 830px;
  }

  .home .header-wrapper {
    min-height: 400px;
  }

  .home .header-wrapper .header {
    height: 300px;
    width: 50%;
    margin-right: auto;
    margin-left: 5em;
    filter: blur(2px);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    cursor: zoom-in;
  }

  .home .header-wrapper .header:hover {
    transform: scale(1.06);
  }

  .home .header-wrapper .date-title {
    font-size: var(--big-font-size);
    right: 350px;
    top: 130px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    cursor: pointer;
  }

  .home .header-wrapper .date-title:hover {
    transform: translate(-42px, -18px);
  }

  .home .header-wrapper .cases-title {
    font-size: var(--big-font-size);
    right: 200px;
    top: 240px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    cursor: pointer;
  }

  .home .header-wrapper .cases-title:hover {
    transform: translate(42px, 18px);
  }

  .details .header-details {
    min-height: 400px;
  }

  .details .header-details img {
    width: 400px;
    height: 250px;
  }

  .details .header-details .country-cases {
    width: 400px;
    height: 250px;
  }

  .details .header-details .country-cases h2 {
    font-size: var(--big-font-size);
  }

  .details .header-details .country-cases p {
    font-size: var(--h1-font-size);
  }

  .details .stats-by-country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    min-height: 400px;
  }
}
